<div class="container-lg text-center">
    <div class="h4 form-header">Sign in</div>
    <div class="form border border-light rounded p-3">
        <form class="data-form" [formGroup]="loginForm">
            <div class="m-4 p-fluid">
                <span class="p-float-label m-2">
                    <input id="username" type="text" pInputText name="username" maxlength="20"
                           formControlName="username" [(ngModel)]="userToAuth.login">
                    <label for="username">Username</label>
                </span>
                <div class="p-message-error text-danger h6" *ngIf="fieldErrors('username')">
                    <span *ngIf="fieldErrors('username').required">Username is required</span>
                    <span *ngIf="fieldErrors('username').minlength || fieldErrors('username').maxlength
                    || fieldErrors('username').pattern">
                        Length of username must be from 4 to 20. Use only latin letters, numbers and underscore
                    </span>
                </div>
            </div>

            <div class="m-4 p-fluid">
                <span class="p-float-label m-2">
                    <input id="password" type="password" pInputText name="password" maxlength="20"
                           formControlName="password" [(ngModel)]="userToAuth.hashPass">
                    <label for="password">Password</label>
                </span>
                <div class="p-message-error text-danger h6" *ngIf="fieldErrors('password')">
                    <span *ngIf="fieldErrors('password').required">Password is required</span>
                    <span *ngIf="fieldErrors('password').minlength || fieldErrors('password').maxlength
                    || fieldErrors('password')">
                        Length of password must be from 4 to 20. Use only latin letters, numbers and underscore
                    </span>
                </div>
            </div>

            <button pButton label="Sign in" [disabled]="hasFormErrors()" (click)="onSingInClick()"
                    class="p-button-help font-weight-bold text-dark m-2 w-50"></button>

            <button pButton label="Create account" routerLink="/register"
                    class="p-button-help font-weight-bold text-dark m-2 w-50"></button>

            <div class="p-message-error text-danger h5 mt-2" *ngIf="isFailedAuth">
                <span>Username or password is incorrect</span>
            </div>
        </form>
    </div>
</div>
