<nav class="navbar navbar-expand-sm">
    <div class="collapse navbar-collapse">
        <div class="ml-3">
            <span>Variant 6138</span>
        </div>
        <div class="mx-auto text-center">
            <div>Fourth laboratory work</div>
            <div>Siyuan Huang and Kuznecov Alexander P3211</div>
        </div>
        <div class="mr-4">
            <a href="https://https://github.com/Darklol/Web004/">
                <div>
                    <i class="fa fa-github fa-3x" style="color: white"></i>
                </div>
            </a>
        </div>
    </div>
</nav>
